#available{
 background-color: #FFC107;
  text-align: center;
  height: 40px;
  color: #FFFFFF;
  align-content: center;
  width: 100%;
}

#card1-border{
  background-color: #00796B;
  margin: 20px;
}

.pics-div{
  position: relative;
  display: flex;
  justify-content: center;
}

.sold-out{
  position: absolute;
  margin-top: 40px;
  height: 200px;
}

#description-text{
  font-size: 10px;
  text-align: left;
  color: #FFFFFF;
  padding: 20px;
}

.header{
  text-align: center;
  color: #FFFFFF;
  margin: 20px;
}

#card-bod{
  padding: 0px;
  display: flex;
  flex-direction: column;
  
}

.second-section{
  text-align: center;
  margin-top: 15px;
  color: #FFFFFF
}

.all-cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
